.price, .qty, .product-name {
    background-color: black !important;
    border: black !important;
    color: white !important;
  }
   .cctv, .dvr-category, .connector-category{
  	background-color: black;
  	color: white !important;
  }

p{
	color: white;
	background-color: black;
}

#dome, #bullet{
  width: 50%;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}