.price, .qty {
    background-color: black !important;
    border: black !important;
    color: white !important;
  }
   #dome, #bullet, .cctv{
  	background-color: black !important;
  	color: white !important;
  }